@font-face {
    font-family: 'iconfont';  /* Project id 4179255 */
    src: url('//at.alicdn.com/t/c/font_4179255_akvussa9ct.woff2?t=1690039518736') format('woff2'),
         url('//at.alicdn.com/t/c/font_4179255_akvussa9ct.woff?t=1690039518736') format('woff'),
         url('//at.alicdn.com/t/c/font_4179255_akvussa9ct.ttf?t=1690039518736') format('truetype');
  }
  
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-xiaohongshu:before {
    content: "\e66d";
  }
  